Source: grml-paste
Section: grml
Priority: extra
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.1
Homepage: http://git.grml.org/?p=grml-paste.git
Vcs-git: git://git.grml.org/grml-paste.git
Vcs-Browser: http://git.grml.org/?p=grml-paste.git

Package: grml-paste
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: command line interface for paste.grml.org
 This package provides a command line interface tool to upload
 plain text to http://paste.grml.org/ - being the official paste
 service for Grml.org.
